/* 
    Theme: Cricket Academy
    Design and Developed by: Mahadi Hassan
    Portfolio: https://mahedihassan.com
    Version: 1.0v

*/

/* Poppins Fonts
    font-family: 'Poppins', sans-serif;
*/

/* Fuggles
    font-family: 'Fuggles', cursive;
*/

/* Keyframe Import */
@import url(./keyframe.css);

/* Reboot CSS Start */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    list-style: none;
    text-decoration: none !important;
}

:root {
    --main-color: #B72026;
    --secondary-color: #F77C2E;
    --third-color: #fff;
    --transition_default: .3s all linear;
    --shadow_axis_properties: 0px 6px 48px 0px;
}

.clr {
    clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: 'Poppins', sans-serif !important;
}

.img-responsive {
    width: 100%;
    height: 100%;
}

/* Reboot CSS End */


/*======================

>>>>>> Home Page Start <<<<<<

======================*/

/*Header Section Start*/
#nav_chk_mobile {
    display: none;
}
.nav_chck {
    display: none;
}
.site_logo {
    width: 55px;
    height:40px;
}
.header_main {
    position: absolute;
    width: 100%;
    z-index: 999;
    margin-top: 30px;
}
.header_nav_container {
    background: #ffffff2e;
    padding: 0px 25px;
    height: 72px;
    line-height: 70px;
    border-radius: 8px;
}
.brand_site_logo {
    float: left;
}
.navigation_nav {
    float: right;
    transition: var(--transition-default);
}
.header_nav li {
    display: inline-block;
}
.nav_bar_link {
    display: block;
    color: var(--third-color);
    font-size: 16px;
    padding: 0px 15px;
    transition: var(--transition-default);
}
.nav_bar_link:hover {
    color: var(--main-color);
}
/* .sticky_menu { */
    /* position: fixed;
    top: 0px;
    left: 0;
    background-color: #ffffffd9; */
    /* padding: 20px 0 !important; */
    /* width: 100%;
    z-index: 99;
    transition: all 0.5s linear;
    animation: sticky_bounce 1.5s linear 1;
    animation-direction: alternate; */
/* } */
/*Header Section End*/

/* Banner Serction Start */
.banner_arrow {
    position: absolute;
    top: 410px;
    font-size: 36px;
    z-index: 999;
    color: #F77C2E;
    cursor: pointer;
    transition: all 0.5s linear;
    opacity: 0;
}
.banner_arrow:hover {
    color: #B72026;
}
/* .banner_slide {
    height: 935px;
} */
.bnr_next_arrow {
    right: 0px;
}
.bnr_prev_arrow {
    left: 0px;
}
.banner_main {
    transition: all 0.5s linear;
}
.banner_main:hover>.banner_arrow {
    opacity: 1;
}
.banner_main:hover>.bnr_prev_arrow {
    left: 435px;
}
.banner_main:hover>.bnr_next_arrow {
    right: 435px;
}
.banner_slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1020px;
}
.banner_content {
    margin-top: 300px;
}
.banner_slide_title {
    font-size: 64px;
    font-weight: 200;
    color: var(--secondary-color);
    text-transform: uppercase;
}
.banner_slide_detail {
    font-size: 20px;
    color: var(--third-color);
    font-weight: 400;
    padding: 10px 85px;
    margin-top: 25px;
}
.banner_btns {
    margin-top: 50px;
}
.banner_btns li {
    display: inline-block;
}
.banner_btn {
    font-size: 16px;
    color: var(--third-color);
    font-weight: 500;
    display: block;
    text-align: center;
    border-radius: 50px;
    transition: var(--transition_default);
}
.banner_btns li:nth-last-child(1) {
    margin-left: 25px;
}
.banner_btn:hover {
    color: var(--third-color);
    animation-name: updown;
    animation-duration: 5s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: inherit;
    -webkit-animation-name: updown;
    -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: inherit;
    -moz-animation-name: updown;
    -moz-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-fill-mode: inherit;
}
.local_program_btn {
    width: 258px;
    height:55px;
    line-height: 55px;
    background: var(--main-color);
}
.local_program_btn:hover {
    box-shadow: var(--shadow_axis_properties) #b72026d1;
    color: var(--third-color);
}
.international_program_btn {
    width: 332px;
    height: 55px;
    line-height: 55px;
    background: var(--secondary-color);
}
.international_program_btn:hover {
    box-shadow: var(--shadow_axis_properties) #f77b2e77;
}
/* Banner Serction End */

/* Our Programme Section Start */
.programme_slide .slick-list {
    padding: 30px 0px;
}
.program_section_title {
    font-size: 32px;
    font-weight: 500;
}
.program_section_title {
    font-size: 32px;
    font-weight: 500;
}
.program_section_description {
    font-size: 16px;
    font-weight: 400;
}
.programme_column {
    width: 350px;
    height: 450px;
    padding: 70px 25px;
    text-align: center;
    position: relative;
    border: 1px solid transparent;
    transition: .3s all linear;
}
.programme_column:hover {
    border: 1px solid #D9D9D9;
    border-radius: 8px;
}
.programme_column:hover>.program_btn {
    opacity: 1;
    bottom: -50px;
}
.programme_col_title {
    font-size: 30px;
    font-weight: 500;
    color: #282828;
    margin-top: 30px;
}
.programme_col_description {
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    color: #757575;
}
.program_btn {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 194px;
    height: 53px;
    line-height: 53px;
    border-radius: 30px;
    color: var(--third-color);
    transition: .3s all linear;
    opacity: 0;
}
.program_btn:hover {
    color: var(--third-color);
}
.local_program_col_btn {
    background: #B72026;
}
.local_program_col_btn:hover {
    box-shadow: var(--shadow_axis_properties) #B72026;
}
.international_program_col_btn{
    background: var(--secondary-color);
}
.international_program_col_btn:hover {
    box-shadow: var(--shadow_axis_properties) #F77C2E;
}
.international_tour_col_btn {
    background: #E8C724;
}
.international_tour_col_btn:hover {
    box-shadow: var(--shadow_axis_properties) #E8C724;
}
.programme_column img {
    margin: auto;
}
/* Our Programme Section End */

/* About Section Start */
.about_container_row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
.about_col-left {
    background: #2D2928;
}
.about_col-left,
.about_col_right {
    width: 50%;
    position: relative;
}
.about_description {
    margin-top: 200px;
    margin-left: 180px;
}
.about_description_title {
    font-size: 46px;
    color: #fff;
    font-weight: 400;
}
.about_description_details {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-right: 42px;
    margin-top: 25px;
}
.aurthor_signature {
    font-size: 52px;
    color: #fff;
    font-family: 'Fuggles', cursive;
    margin-left: 20px;
}
.about_after {
    position: absolute;
    height: 251px !important;
    width: 251px;
    transform: rotate(45deg);
    top: -100px;
    left: 10px;
}
/* About Section End */

/* Coaching Section Start */
.coaching_main {
    margin-top: 25px;
    margin-bottom: 25px;
}
.coaching_title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 25px;
}
.coaching_detials {
    font-size: 16px;
}
.course-card {
    width: 390px;
    height: 260px;
    padding: 50px 20px;
    transition: all 0.5s linear;
}
.course-card:hover {
    box-shadow: var(--shadow_axis_properties) #a1a1a131;
    border-radius: 16px;
}
.course_card_title {
    font-size: 24px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 15px;
}
.bating_title {
    color: #f77c2e;
}
.bowling_title {
    color: #B72026;
}
.feilding_title {
    color: #e8c724;
}
.stretch_title {
    color: #e8c724;
}
.personal_title {
    color:  #F77C2E;
}
.tactics_title {
    color: #B72026;
}
.course_card_detail {
    font-size: 14px;
    font-weight: 300;
}
/* Coaching Section End */

/* Our Practice Session Video Gallery Start */
.video_gallery_container {
    background: url(../images/video_gallery_bg.jpg);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: cover;
    position: relative;
    z-index: 1;
    height: 510px;
}
.video_gallery_container::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #282828b2;
    top: 0;
    left: 0;
    z-index: -1;
}
.video_gallery_banner {
    padding-top: 190px;
}
.video_gallery_title {
    color: #fff;
}
.video_gallery_main {
    position: relative;
}
.video_gallery__card_col {
    /* margin-top: 155px; */
    position: absolute;
    width: 100%;
    bottom: -160px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.video_gallery_row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
/* .video_gallery_col {
    width: 16.667%;
} */
.video_gallery__card {
    width: 170px;
    height: 170px;
    background: url(../images/video-gallery_iamge.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    text-align: center;
    line-height: 170px;
    position: relative;
    transition: all 0.5s linear;
}
.gallery_video_frame {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000a0;
    border-radius: 8px;
    opacity: 0;
    transition: all 0.5s linear;
    box-shadow: var(--shadow_axis_properties) rgba(0, 0, 0, 0.452);
}
.video_gallery__card:hover>.gallery_video_frame {
    opacity: 1;
}
/* Our Practice Session Video Gallery End */

/* Inquire Form Start */
.inquire_form_main {
    margin-top: 170px;
}
.inquire_form_head_description {
    padding: 0px 130px;
    margin-top: 25px;
}
.user_name_box {
    width: 425px;
    height: 40px;
    padding: 10px 15px;
}
.user_contact {
    width: 425px;
    height: 40px;
    padding: 10px 15px;
}
.user_contact,
.userFirstName,
.user_phone_number,
.userLastName,
.user_email {
    display: block;
    margin: auto;
    margin-top: 20px;
    border: 1px solid #C5C5C5;
    border-radius: 8px;
    transition: .1s all linear;
}
.userFirstName,
.user_phone_number {
    margin-left: 115px;
}
.userLastName,
.user_email {
    margin-left: 0px;
}
.user_message_box {
    display: block;
    margin: auto;
    width: 880px;
    height: 275px;
    padding: 10px 15px;
    margin-top: 25px !important;
    border: 1px solid #C5C5C5;
    border-radius: 8px;
    transition: .1s all linear;
}
.inquire_form_submit_btn {
    display: block;
    margin: auto;
    margin-top: 35px;
    width: 145px;
    height: 55px;
    line-height: 55px;
    border: 0;
    background: var(--secondary-color);
    font-size: 20px;
    color: #fff;
    border-radius: 8px;
    transition: .5s all linear;
}
.inquire_form_submit_btn:hover {
    box-shadow: var(--shadow_axis_properties) #f77b2e6e;
}
.user_contact:focus,
.userFirstName:focus,
.user_phone_number:focus,
.userLastName:focus,
.user_email:focus,
.user_message_box:focus {
    box-shadow: var(--shadow_axis_properties) #c9c9c9a8;
    border: 0;
}
.user_contact::placeholder,
.userFirstName::placeholder,
.user_phone_number::placeholder,
.userLastName::placeholder,
.user_email::placeholder,
.user_message_box::placeholder {
    font-size: 16px;
    font-weight: 400;
}
/* Inquire Form End */

/* Footer Section Start */
.footer_main {
    background: #242323 ;
    margin-top: 100px;
}
.footer_site_logo {
    width: 72px;
    height: 50px;
}
.social_media_icon li {
    display: inline-block;
    justify-content: center;
}
.footer_detial {
    margin-top: 55px;
    color: #fff;
}
.footer_quick_link_title,
.footer_social_media_title {
    color: #fff;
    font-size: 32px;
    font-weight: 500;
}
.footer_quick_link_item,
.footer_social_media {
    margin-top: 50px;
}
.footer_quick_link {
    margin-left: 45px;
}
.footer_quick_link_items {
    font-size: 18px;
    color: #757575;
    font-weight: 500;
}
.social_media_icon li,
.footer_quick_link_item li {
    margin-top: 10px;
}
.footer_social_media ul li {
    color: #fff;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}
.footer_social_media ul li:nth-last-child(1) {
    margin-left: 10px;
}
.footer_copyright {
    background: #434343;
    height: 50px;
    line-height: 50px;
}
/* Footer Section End */

/*======================

>>>>>> Home Page End <<<<<<

======================*/


/*======================

>>>>>> Registration Page Start <<<<<<

======================*/
body.registration_body {
    background: #F7F7FB;
}

/* Registration Default */
.reg_container {
    background: #fff;
    box-shadow: 0px 18px 48px 0px#E5E5E5;
    border-radius: 30px;
}
.reg_block_mt {
    margin-top: 50px;
}
.reg_title_image {
    width: 250px;
    display: block;
    margin: auto;
}
.reg_head {
    padding: 75px 0px;
}
.reg_confirmation_message {
    margin-top: 50px;
    padding: 65px;
    position: relative;
}
.reg_confirmation_message::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 30px;
    background: #B72026;
    top: 0;
    left: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.reg_detail_text_block p {
    color: #757575;
}
.reg_confirmation_message_head_detial {
    color: #757575;
}
.register_btn_block {
    padding: 60px 0px;
}
.reg_btn {
    display: block;
    width: 115px;
    height: 55px;
    text-align: center;
    line-height: 55px;
    border-radius: 8px;
    font-size: 18px;
    transition: all 0.5s linear;
}
.reg_next_btn {
    color: #fff !important;
    background: #B72026;
}
.reg_prev_btn {
    color: #B72026 !important;
    border: 1px solid #B72026;
    background: transparent;
}
.reg_btn:hover {
    box-shadow: 0px 6px 27px 0px #b720266e;
}
ul.register_btn_list {
    margin-bottom: 0;
}
.register_btn_list li {
    display: inline-block;
}
ul.register_btn_list li:nth-last-child(1) {
    margin-left: 10px;
}
.reg_info_box {
    height: 60px;
    padding: 0px 30px;
}
.reg_info_box-1,
.reg_ageInfo_box-1 {
    background: #b72026;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    line-height: 60px;
}
.reg_age_group_block {
    padding: 60px;
}
ul.age_group_list {
    margin-top: 20px;
}
ul.age_group_list li label {
    margin-left: 5px;
}
.reg_user_input_name {
    padding: 60px;
}
.reg_user_input_name_filed {
    border: 0;
    border-bottom: 1px solid #D8D8D8;
    width: 530px;
    padding: 10px;
}
.reg_user_input_name_filed:active {
    border-bottom: 1px solid #81a9ff;
}
.reg_user_input_name_filed:focus {
    border-bottom: 1px solid #81a9ff;
}
.reg_ageInfo_box-2 {
    height: 190px;
    padding-top: 45px;
}
/*======================

>>>>>> Registration Page End <<<<<<

======================*/
