/* 
    Theme: Cricket Academy
    Design and Developed by: Mahadi Hassan
    Portfolio: https://mahedihassan.com
    Version: 1.0v

*/

/* Poppins Fonts
    font-family: 'Poppins', sans-serif;
*/

/* Fuggles
    font-family: 'Fuggles', cursive;
*/

/* Keyframe Import */
@import url(./keyframe.css);

/* Reboot CSS Start */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    list-style: none;
    text-decoration: none !important;
}

:root {
    --main-color: #B72026;
    --secondary-color: #F77C2E;
    --third-color: #fff;
    --transition_default: .3s all linear;
    --shadow_axis_properties: 0px 6px 48px 0px;
}

.clr {
    clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: 'Poppins', sans-serif !important;
}

.img-responsive {
    width: 100%;
    height: 100%;
}

/* Reboot CSS End */


/*======================

>>>>>> Home Page <<<<<<

======================*/

/*Header Section Start*/
.site_logo {
    width: 55px;
    height:40px;
}
.header_main {
    position: absolute;
    width: 100%;
    z-index: 999;
    margin-top: 30px;
}
.header_nav_container {
    background: #ffffff2e;
    padding: 0px 25px;
    height: 72px;
    line-height: 70px;
    border-radius: 8px;
}
.brand_site_logo {
    float: left;
}
.navigation_nav {
    float: right;
}
.header_nav li {
    display: inline-block;
}
.nav_bar_link {
    display: block;
    color: var(--third-color);
    font-size: 16px;
    padding: 0px 15px;
    transition: var(--transition-default);
}
.nav_bar_link:hover {
    color: var(--main-color);
}
.sticky_menu {
    position: fixed;
    top: 0px;
    left: 0;
    background-color: #ffffffd9;
    /* padding: 20px 0 !important; */
    width: 100%;
    z-index: 99;
    transition: all 0.5s linear;
    animation: sticky_bounce 1.5s linear 1;
    animation-direction: alternate;
}
/*Header Section End*/

/* Banner Serction Start */
.banner_slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1020px;
}
.banner_content {
    margin-top: 300px;
}
.banner_slide_title {
    font-size: 64px;
    font-weight: 200;
    color: var(--secondary-color);
    text-transform: uppercase;
}
.banner_slide_detail {
    font-size: 20px;
    color: var(--third-color);
    font-weight: 400;
    padding: 10px 85px;
    margin-top: 25px;
}
.banner_btns {
    margin-top: 50px;
}
.banner_btns li {
    display: inline-block;
}
.banner_btn {
    font-size: 16px;
    color: var(--third-color);
    font-weight: 500;
    display: block;
    text-align: center;
    border-radius: 50px;
    transition: var(--transition_default);
}
.banner_btns li:nth-last-child(1) {
    margin-left: 25px;
}
.banner_btn:hover {
    color: var(--third-color);
    animation-name: updown;
    animation-duration: 5s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: inherit;
    -webkit-animation-name: updown;
    -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: inherit;
    -moz-animation-name: updown;
    -moz-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-fill-mode: inherit;
}
.local_program_btn {
    width: 258px;
    height:55px;
    line-height: 55px;
    background: var(--main-color);
}
.local_program_btn:hover {
    box-shadow: var(--shadow_axis_properties) #b72026d1;
    color: var(--third-color);
}
.international_program_btn {
    width: 332px;
    height: 55px;
    line-height: 55px;
    background: var(--secondary-color);
}
.international_program_btn:hover {
    box-shadow: var(--shadow_axis_properties) #f77b2e77;
}
/* Banner Serction End */

/* Our Programme Section Start */
.program_section_title {
    font-size: 32px;
    font-weight: 500;
}
.program_section_title {
    font-size: 32px;
    font-weight: 500;
}
.program_section_description {
    font-size: 16px;
    font-weight: 400;
}
.programme_column {
    width: 350px;
    height: 450px;
    padding: 70px 25px;
    text-align: center;
    position: relative;
    border: 1px solid transparent;
    transition: .3s all linear;
}
.programme_column:hover {
    border: 1px solid #D9D9D9;
    border-radius: 8px;
}
.programme_column:hover>.program_btn {
    opacity: 1;
    bottom: -50px;
}
.programme_col_title {
    font-size: 30px;
    font-weight: 500;
    color: #282828;
    margin-top: 30px;
}
.programme_col_description {
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    color: #757575;
}
.program_btn {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 194px;
    height: 53px;
    line-height: 53px;
    border-radius: 30px;
    color: var(--third-color);
    transition: .3s all linear;
    opacity: 0;
}
.program_btn:hover {
    color: var(--third-color);
}
.local_program_col_btn {
    background: #B72026;
}
.local_program_col_btn:hover {
    box-shadow: var(--shadow_axis_properties) #B72026;
}
.international_program_col_btn{
    background: var(--secondary-color);
}
.international_program_col_btn:hover {
    box-shadow: var(--shadow_axis_properties) #F77C2E;
}
.international_tour_col_btn {
    background: #E8C724;
}
.international_tour_col_btn:hover {
    box-shadow: var(--shadow_axis_properties) #E8C724;
}
/* Our Programme Section End */

/* About Section Start */
.about_container_row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
.about_col-left {
    background: #2D2928;
}
.about_col-left,
.about_col_right {
    width: 50%;
    position: relative;
}
.about_description {
    margin-top: 200px;
    margin-left: 180px;
}
.about_description_title {
    font-size: 46px;
    color: #fff;
    font-weight: 400;
}
.about_description_details {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-right: 42px;
    margin-top: 25px;
}
.aurthor_signature {
    font-size: 52px;
    color: #fff;
    font-family: 'Fuggles', cursive;
    margin-left: 20px;
}
.about_after {
    position: absolute;
    height: 251px !important;
    width: 251px;
    transform: rotate(45deg);
    top: -100px;
    left: 10px;
}
/* About Section End */

/* Coaching Section Start */
.coaching_main {
    margin-top: 25px;
    margin-bottom: 25px;
}
.coaching_title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 25px;
}
.coaching_detials {
    font-size: 16px;
}
.course-card {
    width: 390px;
    height: 260px;
    padding: 50px 20px;
    transition: all 0.5s linear;
}
.course-card:hover {
    box-shadow: var(--shadow_axis_properties) #a1a1a131;
    border-radius: 16px;
}
.course_card_title {
    font-size: 24px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 15px;
}
.bating_title {
    color: #f77c2e;
}
.bowling_title {
    color: #B72026;
}
.feilding_title {
    color: #e8c724;
}
.stretch_title {
    color: #e8c724;
}
.personal_title {
    color:  #F77C2E;
}
.tactics_title {
    color: #B72026;
}
.course_card_detail {
    font-size: 14px;
    font-weight: 300;
}
/* Coaching Section End */

/* Our Practice Session Video Gallery Start */
.video_gallery_container {
    background: url(../images/video_gallery_bg.jpg);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: cover;
    position: relative;
    z-index: 1;
    height: 510px;
}
.video_gallery_container::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #282828b2;
    top: 0;
    left: 0;
    z-index: -1;
}
.video_gallery_banner {
    padding-top: 190px;
}
.video_gallery_title {
    color: #fff;
}
/* Our Practice Session Video Gallery End */
