/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    /* Header Start */
    input#nav_chk_mobile:checked~.navBar {
        left: 40px;
        transition: all 0.5s linear;
    }
    .nav_chck {
        display: block;
        position: absolute;
        top: -5px;
        left: 65px;
        z-index: 999;
    }
    .header_nav_container {
        background: transparent;
    }
    .brand_site_logo {
        display: none;
    }
    .header_nav li {
        display: block;
    }
    .header_main {
        position: absolute;
        width: 100%;
        z-index: 999;
        margin-top: 0px;
        top: 0;
        left: -40px;
    }
    .navBar {
        position: absolute;
        left: -100px;
        width: 139px;
        background: #242323;
        height: 435px;
        top: 0;
        transition: all 0.5s linear;
    }
    ul.navBar li:nth-last-child(5) {
        margin-top: 55px;
    }
    .nav_bar_link {
        display: block;
        color: var(--third-color);
        font-size: 16px;
        padding: 0px 15px;
        transition: var(--transition-default);
        height: 40px;
        line-height: 40px;
    }
    /* Header End */
    /* Banner Section Start */
    .banner_slide_title {
        font-size: 24px;
        font-weight: 200;
        color: var(--secondary-color);
        text-transform: uppercase;
    }
    .banner_slide_detail {
        font-size: 16px;
        color: var(--third-color);
        font-weight: 400;
        padding: 0px 0px;
        margin-top: 25px;
    }
    .banner_slide {
        height: 500px !important;
    }
    .banner_content {
        margin-top: 50px;
    }
    .local_program_btn {
        width: 200px;
    }
    .international_program_btn {
        width: 250px;
    }
    .banner_btn {
        font-size: 12px;
    }
    .banner_btns li:nth-last-child(1) {
        margin-left: 0px;
        margin-top: 15px;
    }
    /* Banner Section End */
    /* Our Programme Start */
    .programme_column {
        margin: auto;
    }
    .programme_slide .slick-list {
        padding-bottom: 85px;
        padding-top: 40px;
    }
    .programme_column {
        border: 1px solid #D9D9D9;
    }
    .program_btn {
        opacity: 1;
        bottom: -50px;
    }
    /* Our Programme End */
    /* About Start */
    /* .about_container_row {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .about_col-left, .about_col_right {
        width: 100%;
        position: relative;
    }   */
    .about_image {
        height: 286px;
    }
    .coaching_title {
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 25px;
    }
    .coaching_detials {
        font-size: 14px;
    }
    
    .about_description {
        margin-top: 90px;
        margin-left: 10px;
        height: 255px;
    }
    .about_description_title {
        font-size: 26px;
        color: #fff;
        font-weight: 400;
    }
    .about_description_details {
        color: #fff;
        font-size: 12px;
        font-weight: 400;
        margin-right: 0px;
        margin-top: 10px;
    }
    .aurthor_signature {
        font-size: 37px;
        color: #fff;
        font-family: 'Fuggles', cursive;
        margin-left: 5px;
    }
    .about_container_row {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .about_col-left, .about_col_right {
        width: 100%;
        position: relative;
    }
    .about_after {
        position: absolute;
        height: 180px !important;
        width: 180px;
        transform: rotate(315deg);
        top: -50px;
        left: 95px;
    }
    /* About End */
    /* Coaching Start */
    .course-card {
        width: 125px;
        height: 210px;
        padding: 30px 10px;
        box-shadow: var(--shadow_axis_properties) #a1a1a131;
        margin-bottom: 15px;
    }
    .course_card_title {
        font-size: 15px;
        font-weight: 400;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .course_card_detail {
        font-size: 9px;
        font-weight: 300;
        text-align: justify;
    }
    /* Coaching End */
    /* Video Gallery Start */
    .video_gallery_row {
        display: flex;
        flex-direction: initial;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .video_gallery__card {
        width: 110px;
        height: 110px;
        background: url(../images/video-gallery_iamge.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 8px;
        text-align: center;
        line-height: 170px;
        position: relative;
        transition: all 0.5s linear;
    }
    .video_gallery_container {
        height: 280px;
    }
    .video_gallery_banner {
        padding-top: 80px;
    }
    .video_gallery__card_col {
        bottom: -110px;
        padding-left: 10px;
    }
    /* Video Gallery End */
    /* Inquiery Form Start */
    .inquire_form_head_description {
        padding: 0px 0px;
    }
    .user_contact,
    .user_name_box,
    .user_message_box {
        width: 400px;
    }
    .userFirstName, 
    .user_phone_number {
        margin-left: 0px;
    }
    /* Inquiery Form End */
    /* Footer Start */
    .footer_quick_link_title, .footer_social_media_title {
        color: #fff;
        font-size: 19px;
        font-weight: 500;
    }
    .footer_quick_link {
        margin-left: 0px;
    }
    .footer_quick_link_item, .footer_social_media {
        margin-top: 26px;
    }
    .footer_detial {
        margin-top: 20px;
        color: #fff;
        font-size: 12px;
        text-align: justify;
    }
    ul.social_media_icon li img {
        width: 24px;
        height: 24px;
    }
    .footer_social_media ul li:nth-last-child(1) {
        margin-left: 5px;
    }
    .footer_social_media ul li {
        color: #fff;
        font-size: 17px;
        font-family: 'Poppins', sans-serif;
    }
    /* Footer End */
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* Codes */
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* Codes */
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* Codes */
}